<nav class="navbar navbar-expand-lg navbar-custom site-font-body">
  <div class="container-fluid container-narrow">
    <a class="navbar-brand" href="/">
  <img src="/Image/icon.png" alt="Blogify logo" width="40" height="40" style="object-fit:contain; border-radius:6px;">
      <span class="site-font-heading">Blogify</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/#top">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#blogs">
            <i class="fas fa-blog"></i> All Blogs
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link" href="/blogs/about">
            <i class="fas fa-info-circle"></i> About
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <a class="btn btn-ghost" href="/blogs/login">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
        <a class="btn btn-cta" href="/blogs/signup">
          <i class="fas fa-user-plus"></i> Sign up
        </a>
      </div>
    </div>
  </div>
</nav>