<% layout('/includes/boilerplate') %>
<header class="about-page">
    <h1 class="about-page__title">About Blogify</h1>
    <div class="about-container card">
        <h2 class="about-section__heading">About</h2>
        <p class="about-text">
        Welcome to Blogify, your go-to platform for sharing and discovering insightful blogs on a variety of topics. Whether you're a seasoned writer or just starting out, Blogify provides an easy-to-use interface to create, publish, and manage your blogs.
        </p>
        <p class="about-text">
        Our mission is to foster a community of passionate bloggers and readers who can connect through the power of words. With features like user authentication, blog creation, and a responsive design, we aim to make blogging accessible and enjoyable for everyone.
        </p>
        <p class="about-text">
        Join us today and start your blogging journey with Blogify!
        </p>
        <h2 class="about-section__heading">Developers</h2>
        <ul class="dev-list">
            <li class="dev-item"><strong>Project Manager:</strong> Ali Tahir</li>
            <li class="dev-item"><strong>Designer:</strong> Talha Raza</li>
            <li class="dev-item"><strong>Developer:</strong> Assam-ulHaq</li>
            <li class="dev-item"><strong>Tester:</strong> Abubakar Zafar</li>
        </ul>
    </div>
</header>