<% layout('/includes/boilerplate') %>
<header>
  <h1>Sign Up For Blogify</h1>
  <form action="/signup" method="POST" class="needs-validation" novalidate style="width:100%; max-width:520px;">
    <div class="container">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <script src="/JS/form-validation.js"></script>
</header>